.app__first-page{
    width: 100%;
    height: 100vh;
    background: rgb(55, 55, 55);
}


.app__second-page{
    display: none   ;
    width: 100%;
    height: 100vh;
    background: rgb(55, 55, 55);
}
.app__wrapper {
    padding: 80px 0 80px 218px;
    margin: 0 auto;
}
.app__title {
    color: white;
    font-family: "Helvetica-Light", Helvetica;
    text-align: left;
    font:  300 35px 'Helvetica',sans-serif;
    margin-bottom: 35px;
}
.data {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 27px 68px 39px 39px;
    max-width: 443px;
    border-radius: 13px;
    box-shadow:
        -4px 4px 10px #00000024,
        inset 3px 4px 4px #d5d5d508;
    background: linear-gradient(180deg, rgb(76.5, 76.5, 76.5) 0%, rgb(55, 55, 55) 100%);
}
label{
    font-family: "Helvetica-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}
input{
    width: 100%;
    height: 30px;
    background-color: #2e2e2e;
    border-radius: 13px;
    box-shadow: inset 0px 3px 6px #00000040, 0px 3px 4px #4b4b4b40;
    text-align: center;
    cursor: pointer;
    color: #51ab32;
}
input:focus {
    border: 2px solid #51ab32;
    outline: none; 
}
.data__wrapper-host{
    margin-top: 14px;
    display: flex;
    gap: 2px;
}

input[name="host"]{
    display: block;
    background-color: #2e2e2e; 
}
.data__wrapper{
    width: 90%;
}
.data__wrapper > input {
    margin: 12px 0px 13px 0px;
}
.data__wrapper-item::after{
    position: relative;
    content: ".";
    display: inline;
    color: #ffffff;
    top: -21px;
    left: -3px;
    font-size: 20px;
}
.app__buttons {
    position:fixed;
    top: calc(100% - 68px);
    left: 50%;
    transform: translate(-100%, -50%);
    display: flex;
    gap: 28px;
    margin-left: 150px;
}
.app__btn-cancel {
    background: #51ab32;
}
.app__btn-save {
    background: #4a4a4a;
}
.app__btn-cancel,
.app__btn-save {
    transition: background-color 0.3s, transform 0.2s;
    color: rgba(255, 255, 255, 1);
    border-radius: 27px;
    width: 155px;
    padding: 10px 0px;
    font-family: "Helvetica-Regular", Helvetica;
    position: relative;
    border: none;
    box-shadow:
        -4px 4px 10px 0px rgba(0, 0, 0, 0.14),
        inset 3px 4px 4px 0px rgba(214, 214, 214, 0.03);
}
button:hover {
    background-color: #0056b3; /* Цвет кнопки при наведении */
}

button:active {
    transform: scale(0.95); /* Масштабирование кнопки при нажатии */
}
